mock
node_modules
src
tests
authData.example.json
authData.json
createMockData.js
jest.config.js
main.js
package-lock.json
tsconfig.json
webpack.config.js
.eslintignore
.eslintrc.json
.git
.gitignore
.npmignore
.npmrc
.project
.settings

